.ilove {
}
.ilove__body {
  max-width: 850px;
  margin: 0px auto;
}
.ilove__header {
  margin: 0px 0px 30px 0px;
}
.ilove__title {
  margin: 0px 0px 30px 0px;
}
.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
}
.ilove__text {
  font-size: 24px;
  text-align: center;
}
.ilove__row {
  display: flex;
  margin: 0px -15px;
}
.ilove__column {
  padding: 0px 15px;
  flex: 0 0 33.333%;
}

.item-ilove {
}
.item-ilove__icon {
  margin: 0px auto;
  width: 100 px;
  height: 100 px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-ilove__title {
  font-size: 20px;
  text-align: center;
}
.item-ilove__text {
  font-size: 18px;
  text-align: center;
}
